[Desktop Entry]
Type=Service
Icon=palapeli-svgslicer-block
X-KDE-Library=palapeli_svgslicer_block
X-KDE-ServiceTypes=Libpala/SlicerPlugin
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-Name=palapeli_svgslicer_block
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://games.kde.org/palapeli
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Jigsaw pieces with simple plug shapes
Comment=
