[Desktop Entry]
Type=Service
Icon=palapeli-rectslicer
X-KDE-Library=palapeli_rectslicer
X-KDE-ServiceTypes=Libpala/SlicerPlugin
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-Name=palapeli_rectslicer
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://games.kde.org/palapeli
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rectangular pieces
Name[bs]=Pravougli djelovi
Name[ca]=Peces rectangulars
Name[ca@valencia]=Peces rectangulars
Name[da]=Firkantede brikker
Name[de]=Rechteckige Puzzleteile
Name[el]=Ορθογώνια κομμάτια
Name[en_GB]=Rectangular pieces
Name[es]=Piezas rectangulares
Name[et]=Ristkülikukujulised tükid
Name[fi]=Suorakulmaiset palat
Name[fr]=Pièces rectangulaires
Name[gl]=Pezas rectangulares
Name[hu]=Téglalap alakú elemek
Name[is]=Kantaðir bitar
Name[it]=Pezzi rettangolari
Name[kk]=Тікбұрышты тілімдері
Name[km]=បំណែក​រាង​ចតុ​កោណ
Name[nb]=Firkantbrikker
Name[nds]=Rechteckig Delen
Name[nl]=Rechthoekige stukken
Name[nn]=Firkanta brikker
Name[pl]=Kawałki prostokątne
Name[pt]=Peças rectangulares
Name[pt_BR]=Peças retangulares
Name[ru]=Прямоугольные кусочки
Name[sk]=Obdĺžnikové dieliky
Name[sl]=Pravokotni kosi
Name[sr]=Правоугаони делови
Name[sr@ijekavian]=Правоугаони дијелови
Name[sr@ijekavianlatin]=Pravougaoni dijelovi
Name[sr@latin]=Pravougaoni delovi
Name[sv]=Rektangulära bitar
Name[tr]=Dikdörtgen parçalar
Name[uk]=Прямокутні шматочки
Name[x-test]=xxRectangular piecesxx
Name[zh_CN]=矩形拼图
Name[zh_TW]=矩形拼圖片
Comment=
