[Desktop Entry]
Type=Service
Icon=palapeli-jigsawslicer
X-KDE-Library=palapeli_jigsawslicer
X-KDE-ServiceTypes=Libpala/SlicerPlugin
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-Name=palapeli_jigsawslicer
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://games.kde.org/palapeli
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Classic jigsaw pieces
Name[de]=Klassische Puzzleteile
Name[fr]=Pièce classique de puzzle
Name[pt]=Peças de puzzle clássicas
Name[sv]=Klassiska pusselbitar
Name[uk]=Елементи класичної форми
Name[x-test]=xxClassic jigsaw piecesxx
Comment=
