[Desktop Entry]
Type=Service
Icon=palapeli-rectslicer
X-KDE-Library=palapeli_rectslicer
X-KDE-ServiceTypes=Libpala/SlicerPlugin
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-Name=palapeli_rectslicer
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://games.kde.org/palapeli
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rectangular pieces
Name[ca]=Peces rectangulars
Name[de]=Rechteckige Puzzleteile
Name[en_GB]=Rectangular pieces
Name[et]=Ristkülikukujulised tükid
Name[nn]=Firkanta brikker
Name[pt]=Peças rectangulares
Name[pt_BR]=Peças retangulares
Name[sv]=Rektangulära bitar
Name[uk]=Прямокутні шматочки
Name[x-test]=xxRectangular piecesxx
Name[zh_TW]=矩形拼圖片
Comment=
