<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="palapeli" version="1">
	<MenuBar>
		<Menu name="game">
			<Action name="game_new"/>
			<Action name="palapeli_load"/>
			<Action name="palapeli_save"/>
			<Separator/>
			<Action name="palapeli_import"/>
			<Action name="palapeli_export"/>
			<Separator/>
			<Action name="game_quit"/>
		</Menu>
		<Menu name="views">
			<Text>View</Text>
			<Action name="fullscreen"/>
			<Separator/>
			<Action name="view_toggle_minimap"/>
			<Action name="view_toggle_preview"/>
		</Menu>
		<Menu name="settings">
			<Action name="settings_configure"/>
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
		<text>Main toolbar</text>
		<Action name="game_new"/>
		<Action name="palapeli_load"/>
		<Action name="palapeli_save"/>
		<Separator/>
		<Action name="palapeli_import"/>
		<Action name="palapeli_export"/>
	</ToolBar>
	<ToolBar name="viewToolBar">
		<text>View toolbar</text>
		<Action name="view_toggle_minimap"/>
		<Action name="view_toggle_preview"/>
		<Separator/>
		<Action name="fullscreen"/>
	</ToolBar>
</gui>

