[Desktop Entry]
Type=Application
Exec=palapeli -caption "%c"
Name=Palapeli
GenericName=Jigsaw puzzle game
GenericName[et]=Pusle
GenericName[sv]=Pusselspel
Terminal=false
Icon=preferences-plugin
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;PuzzleGame;
