[Desktop Entry]
Name=Castle of Maintenon
Name[bs]=Dvorac Maintenona
Name[ca]=El castell de Maintenon
Name[ca@valencia]=El castell de Maintenon
Name[da]=Maintenon-slottet
Name[de]=Château de Maintenon
Name[el]=Castle of Maintenon
Name[en_GB]=Castle of Maintenon
Name[es]=Castle of Maintenon
Name[et]=Maintenoni loss
Name[fi]=Maintenon-linna
Name[fr]=Château de Maintenon
Name[ga]=Castle of Maintenon
Name[gl]=Castelo de Maintenon
Name[hu]=Maintenon kastélya
Name[is]=Maintenon kastali
Name[it]=Castello di Maintenon
Name[kk]=Мейнтентон қорғаны
Name[km]=ប្រាសាទ​របស់​ Maintenon
Name[nb]=Maintenon-slottet
Name[nds]=Slott vun Maintenon
Name[nl]=Castle of Maintenon
Name[nn]=Maintenon-slottet
Name[pl]=Zamek Maintenon
Name[pt]=Castelo de Maintenon
Name[pt_BR]=Castelo de Maintenon
Name[ru]=Замок Мэйнтенон
Name[sk]=Zámok Maintenon
Name[sl]=Grad Maintenon
Name[sr]=Замак Ментанон
Name[sr@ijekavian]=Замак Ментанон
Name[sr@ijekavianlatin]=Zamak Mentanon
Name[sr@latin]=Zamak Mentanon
Name[sv]=Maintenon-slottet
Name[tr]=Maintenon Kalesi
Name[uk]=Замок Мейнтенон
Name[x-test]=xxCastle of Maintenonxx
Name[zh_CN]=曼特农城堡
Name[zh_TW]=曼特能（Maintenon）城堡
Comment=Eure-et-Loir département, France
Comment[bs]=Eure-et-Loir pokrajina, Francuska
Comment[ca]=Eure-et-Loir, França
Comment[ca@valencia]=Eure-et-Loir, França
Comment[da]=Eure-et-Loir département, Frankring
Comment[de]=Das Schloss Maintenon im Département Eure-et-Loir (südwestlich von Paris).
Comment[el]=Eure-et-Loir département, Γαλλία
Comment[en_GB]=Eure-et-Loir département, France
Comment[es]=Eure-et-Loir département, France
Comment[et]=Eure-et-Loiri departemang Prantsusmaal
Comment[fi]=Eure-et-Loir département, Ranska
Comment[fr]=Département d'Eure-et-Loir, France
Comment[gl]=Departamento Eure-et-Loir, Francia
Comment[hu]=Eure-et-Loir szakosztály, Franciaország
Comment[is]=Eure-et-Loir sýsla, Frakklandi
Comment[it]=Dipartimento di Eure-et-Loir, Francia
Comment[kk]=Эр және Луара департаменті, Франция
Comment[km]=Eure-et-Loir département បារាំង​​
Comment[nb]=Eure-et-Loir département, Frankrike
Comment[nds]=Eure-et-Loir département, Frankriek
Comment[nl]=Eure-et-Loir département, Frankrijk
Comment[nn]=Eure-et-Loir département, Frankrike
Comment[pl]=Eure-et-Loir département, Francja
Comment[pt]=Departamento de Eure-et-Loir, França
Comment[pt_BR]=Eure-et-Loir département, France
Comment[ru]=Департамент Эр и Луар, Франция
Comment[sk]=Eure-et-Loir département, Francúzsko
Comment[sl]=Departma Eure-et-Loir, Francija
Comment[sr]=Департман Ир и Лоар, Француска
Comment[sr@ijekavian]=Департман Ир и Лоар, Француска
Comment[sr@ijekavianlatin]=Departman Ir i Loar, Francuska
Comment[sr@latin]=Departman Ir i Loar, Francuska
Comment[sv]=Eure-et-Loir, franskt departement
Comment[tr]=Eure-et-Loir Bölgesi, Fransa
Comment[uk]=Департамент Ер на Луарі, Франція
Comment[x-test]=xxEure-et-Loir département, Francexx
Comment[zh_CN]=厄尔-罗亚尔省，法国
Comment[zh_TW]=Eure-et-Loir département, France
Icon=castle-maintenon.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=Eric Pouhier
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:EPO_2432_wiki.jpg
X-KDE-PluginInfo-License=FDL

[Job]
Image=castle-maintenon.jpg
Slicer=palapeli_goldbergslicer
SlicerMode=preset
020_PieceCount=80
025_QuickPreset=Ordinary
030_FlipThreshold=10
040_EdgeCurviness=-50
050_PlugSize=0
055_SigmaCurviness=50
056_SigmaBasepos=35
057_SigmaPlugs=50
058_IrrPieceSizeDiversity=15
070_DumpGrid=false

[Collection]
ModifyProtection=true
