[Desktop Entry]
Name=Roebling Suspension Bridge
Name[ca]=Pont penjant de Roebling
Name[ca@valencia]=Pont penjant de Roebling
Name[de]=Roebling Suspension Bridge
Name[en_GB]=Roebling Suspension Bridge
Name[et]=Roeblingi rippsild
Name[nn]=Roebling-hengjebrua
Name[pt]=Ponte Suspensa de Roebling
Name[sr]=Реблингов висећи мост
Name[sr@ijekavian]=Реблингов висећи мост
Name[sr@ijekavianlatin]=Reblingov viseći most
Name[sr@latin]=Reblingov viseći most
Name[sv]=Roebling-hängbron
Name[uk]=Підвісний міст Реблінґа
Name[x-test]=xxRoebling Suspension Bridgexx
Name[zh_TW]=Roebling 吊橋
Comment=in Cincinnati
Comment[ca]=A Cincinnati
Comment[ca@valencia]=A Cincinnati
Comment[de]=Die John A. Roebling Suspension Bridge ist eine Hängebrücke, die den Ohio River zwischen Cincinnati (Ohio) und Covington (Kentucky) überspannt.
Comment[en_GB]=in Cincinnati
Comment[et]=Cincinnatis
Comment[nn]=i Cincinnati
Comment[pt]=em Cincinnati
Comment[pt_BR]=em Cincinnati
Comment[sr]=У Синсинатију
Comment[sr@ijekavian]=У Синсинатију
Comment[sr@ijekavianlatin]=U Sinsinatiju
Comment[sr@latin]=U Sinsinatiju
Comment[sv]=I Cincinnati
Comment[uk]=у Цинциннаті
Comment[x-test]=xxin Cincinnatixx
Comment[zh_TW]=在辛辛那提（Cincinnati）
Icon=cincinnati-bridge.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=Derek Jensen
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:Cincinnati-roebling-suspension-bridge.jpg
X-KDE-PluginInfo-License=Public Domain

[Job]
Image=cincinnati-bridge.jpg
Slicer=palapeli_jigsawslicer
PieceCount=56
PieceAspect=6

[Collection]
ModifyProtection=true
