[Desktop Entry]
Name=Roebling Suspension Bridge
Name[el]=Γέφυρα εξάρτησης Ρέμπλινγκ
Name[en_GB]=Roebling Suspension Bridge
Name[es]=Puente de suspensión Roebling
Name[et]=Roeblingi rippsild
Name[fr]=Pont suspendu de Roebling
Name[gl]=Ponte colgante de Roebling
Name[it]=Ponte sospeso di Roebling
Name[km]=Roebling Suspension Bridge
Name[nds]=Roebling-Brüch
Name[pt]=Ponte Suspensa de Roebling
Name[sv]=Roebling-hängbron
Name[tr]=Roebling Suspension Köprüsü
Name[uk]=Підвісний міст Реблінґа
Name[x-test]=xxRoebling Suspension Bridgexx
Comment=in Cincinnati
Comment[el]=στο Σινσινάτι
Comment[en_GB]=in Cincinnati
Comment[es]=en Cincinnati
Comment[et]=Cincinnatis
Comment[fr]=à Cincinnati
Comment[gl]=en Cincinnati
Comment[it]=a Cincinnati
Comment[km]=in Cincinnati
Comment[nds]=in Cincinnati
Comment[pt]=em Cincinnati
Comment[pt_BR]=em Cincinnati
Comment[sv]=I Cincinnati
Comment[tr]=Cincinnati de
Comment[uk]=у Цинциннаті
Comment[x-test]=xxin Cincinnatixx
Icon=cincinnati-bridge.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=Derek Jensen
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:Cincinnati-roebling-suspension-bridge.jpg
X-KDE-PluginInfo-License=Public Domain

[X-Palapeli]
PatternName=jigsaw-puzzle
PieceCount=56
XCount=8
YCount=7
