[Desktop Entry]
Name=Roebling Suspension Bridge
Name[el]=Γέφυρα εξάρτησης Ρέμπλινγκ
Name[et]=Roeblingi rippsild
Name[gl]=Ponte colgante de Roebling
Name[pt]=Ponte Suspensa de Roebling
Name[sv]=Roebling-hängbron
Name[uk]=Підвісний міст Реблінґа
Comment=in Cincinnati
Comment[el]=στο Σινσινάτι
Comment[et]=Cincinnatis
Comment[gl]=en Cincinnati
Comment[pt]=em Cincinnati
Comment[sv]=I Cincinnati
Comment[uk]=у Цинциннаті
Icon=cincinnati-bridge.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=Derek Jensen
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:Cincinnati-roebling-suspension-bridge.jpg
X-KDE-PluginInfo-License=Public Domain

[X-Palapeli]
Pattern=rectangular
PieceCount=56

[X-PatternArgs]
XCount=8
YCount=7
