[Desktop Entry]
Name=Citrus Fruits
Name[bs]=Citrus voće
Name[ca]=Fruits crítics
Name[ca@valencia]=Fruits crítics
Name[da]=Citrusfrugter
Name[de]=Zitrusfrüchte
Name[el]=Κίτρα
Name[en_GB]=Citrus Fruits
Name[es]=Frutas cítricas
Name[et]=Tsitrusviljad
Name[fi]=Sitrushedelmät
Name[fr]=Agrumes
Name[ga]=Citrus Fruits
Name[gl]=Froitas cítricas
Name[hu]=Citrus gyümölcs
Name[is]=Sítrusávextir
Name[it]=Agrumi
Name[kk]=Цитрус жемістері
Name[km]=ផ្លែ​ក្រូច
Name[lt]=Citrusiniai vaisiai
Name[nb]=Sitrusfrukter
Name[nds]=Zitrutfrücht
Name[nl]=Citrusfruit
Name[nn]=Sitrusfrukter
Name[pl]=Owoce cytrusowe
Name[pt]=Frutos Citrinos
Name[pt_BR]=Frutas cítricas
Name[ru]=Цитрусы
Name[sk]=Citrusové plody
Name[sl]=Sadeži citrusov
Name[sr]=Цитрично воће
Name[sr@ijekavian]=Цитрично воће
Name[sr@ijekavianlatin]=Citrično voće
Name[sr@latin]=Citrično voće
Name[sv]=Citrusfrukter
Name[tr]=Narenciye
Name[uk]=Цитрусові фрукти
Name[x-test]=xxCitrus Fruitsxx
Name[zh_CN]=柑橘类水果
Name[zh_TW]=柑橘類水果
Comment=
Icon=citrus-fruits.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=US Department of Agriculture
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:Citrus_fruits.jpg
X-KDE-PluginInfo-License=Public Domain

[Job]
Image=citrus-fruits.jpg
Slicer=palapeli_goldbergslicer
SlicerMode=preset
020_PieceCount=42
025_QuickPreset=Ordinary
030_FlipThreshold=10
040_EdgeCurviness=-50
050_PlugSize=0
055_SigmaCurviness=50
056_SigmaBasepos=35
057_SigmaPlugs=50
058_IrrPieceSizeDiversity=15
070_DumpGrid=false

[Collection]
ModifyProtection=true
