[Desktop Entry]
Name=Citrus Fruits
Comment=
Icon=citrus-fruits.jpg

X-KDE-PluginInfo-Author=US Department of Agriculture
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:Citrus_fruits.jpg
X-KDE-PluginInfo-License=Public Domain
