[Desktop Entry]
Name=European Honey Bee
Name[bs]=Evropska pčela medarica
Name[ca]=Abella de mel europea
Name[ca@valencia]=Abella de mel europea
Name[da]=Europæisk honningbi
Name[de]=Europäische Honigbiene
Name[el]=Ευρωπαϊκή μέλισσα
Name[en_GB]=European Honey Bee
Name[es]=Abeja europea
Name[et]=Euroopa mesilane
Name[fi]=Tarhamehiläinen
Name[fr]=Abeille à miel européenne
Name[gl]=Abella
Name[hu]=Európai méz méh
Name[is]=Evrópsk hunangsfluga
Name[it]=Ape europea
Name[kk]=Еуропалық бал арасы
Name[km]=ឃ្មុំអឺរ៉ុប
Name[lt]=Europinė bitė
Name[nb]=Europeisk honningbie
Name[nds]=Europääsch Hönnigimm
Name[nl]=Europese honingbij
Name[nn]=Europeisk honningbie
Name[pl]=Europejska pszczoła miodna
Name[pt]=Abelha Europeia
Name[pt_BR]=Abelha europeia
Name[ru]=Европейская пчела
Name[sk]=Európska včela medonosná
Name[sr]=Европска пчела
Name[sr@ijekavian]=Европска пчела
Name[sr@ijekavianlatin]=Evropska pčela
Name[sr@latin]=Evropska pčela
Name[sv]=Europeiskt honungsbi
Name[tr]=Bal Arısı
Name[uk]=Європейська медова бджола
Name[x-test]=xxEuropean Honey Beexx
Name[zh_CN]=欧洲蜜蜂
Name[zh_TW]=歐洲蜜蜂
Comment=
Icon=european-honey-bee.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=John Severns
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:European_honey_bee_extracts_nectar.jpg
X-KDE-PluginInfo-License=Public Domain

[Job]
Image=european-honey-bee.jpg
Slicer=palapeli_goldbergslicer
SlicerMode=preset
020_PieceCount=48
025_QuickPreset=Ordinary
030_FlipThreshold=10
040_EdgeCurviness=-50
050_PlugSize=0
055_SigmaCurviness=50
056_SigmaBasepos=35
057_SigmaPlugs=50
058_IrrPieceSizeDiversity=15
070_DumpGrid=false

[Collection]
ModifyProtection=true
