[Desktop Entry]
Name=European Honey Bee
Name[ca]=Abella de mel europea
Name[en_GB]=European Honey Bee
Name[et]=Euroopa mesilane
Name[pt]=Abelha Europeia
Name[sv]=Europeiskt honungsbi
Name[uk]=Європейська медова бджола
Name[x-test]=xxEuropean Honey Beexx
Name[zh_TW]=歐洲蜜蜂
Comment=
Icon=european-honey-bee.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=John Severns
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:European_honey_bee_extracts_nectar.jpg
X-KDE-PluginInfo-License=Public Domain

[Job]
Image=european-honey-bee.jpg
Slicer=palapeli_jigsawslicer
PieceCount=48
PieceAspect=6

[Collection]
ModifyProtection=true
