[Desktop Entry]
Name=Furcifer pardalis
Name[ca]=Furcifer pardalis
Name[ca@valencia]=Furcifer pardalis
Name[de]=Furcifer Pardalis
Name[en_GB]=Furcifer pardalis
Name[et]=Furcifer pardalis
Name[nn]=Furcifer pardalis
Name[pt]=Pardal
Name[sr]=Пантерски камелеон
Name[sr@ijekavian]=Пантерски камелеон
Name[sr@ijekavianlatin]=Panterski kameleon
Name[sr@latin]=Panterski kameleon
Name[sv]=Furcifer pardalis
Name[uk]=Самиця барса
Name[x-test]=xxFurcifer pardalisxx
Name[zh_TW]=Furcifer pardalis
Comment=Female panther chameleon
Comment[ca]=Femella de camaleó pantera
Comment[ca@valencia]=Femella de camaleó pantera
Comment[de]=Das Bild zeigt ein weibliches Panther-Chamäleon.
Comment[en_GB]=Female panther chameleon
Comment[et]=Emane panterkameeleon
Comment[nn]=Panterkameleon
Comment[pt]=Camaleão-pantera fêmea
Comment[sr]=Женка пантерског камелеона
Comment[sr@ijekavian]=Женка пантерског камелеона
Comment[sr@ijekavianlatin]=Ženka panterskog kameleona
Comment[sr@latin]=Ženka panterskog kameleona
Comment[sv]=Panterkameleonthona
Comment[uk]=Самиця п’ятнистого хамелеона
Comment[x-test]=xxFemale panther chameleonxx
Comment[zh_TW]=Female panther chameleon
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=B. Navez and others
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:FurciferPardalisFemale.JPG
X-KDE-PluginInfo-License=GNU-FDL

[Job]
Image=panther-chameleon-female.jpg
Slicer=palapeli_jigsawslicer
PieceCount=48
PieceAspect=6

[Collection]
ModifyProtection=true
