[Desktop Entry]
Name=Furcifer pardalis
Name[pt]=Pardal
Name[uk]=Самка барса
Comment=Female panther chameleon
Comment[el]=Θηλυκός χαμαιλέων πάνθηρας
Comment[et]=Emane panterkameeleon
Comment[gl]=Camaleon panteira fema
Comment[pt]=Camaleão-pantera fêmea
Comment[sv]=Panterkameleonthona
Comment[uk]=Самка п’ятнистого хамелеона
Icon=panther-chameleon-female.jpg
Type=X-Palapeli-Puzzle

X-KDE-PluginInfo-Author=B. Navez and others
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://commons.wikimedia.org/wiki/Image:FurciferPardalisFemale.JPG
X-KDE-PluginInfo-License=GNU-FDL

[X-Palapeli]
Pattern=rectangular
PieceCount=48

[X-PatternArgs]
XCount=6
YCount=8
