[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Palapeli puzzles
Name[ca]=Trencaclosques Palapeli
Name[ca@valencia]=Trencaclosques Palapeli
Name[da]=Palapeli-puslespil
Name[de]=Palapeli-Puzzle
Name[en_GB]=Palapeli puzzles
Name[es]=Rompecabezas de Palapeli
Name[et]=Palapeli pusled
Name[fr]=Puzzles Palapeli
Name[hu]=Palapeli-feladványok
Name[it]=Rompicapi per Palapeli
Name[nds]=Palapeli-Pusselspelen
Name[nl]=Palapeli puzzels
Name[nn]=Palapeli-puslespel
Name[pt]='Puzzles' do Palapeli
Name[pt_BR]=Quebra-cabeças do Palapeli
Name[ru]=Головоломки Palapeli
Name[sk]=Palapeli puzzle
Name[sr]=Палапелијеве слагалице
Name[sr@ijekavian]=Палапелијеве слагалице
Name[sr@ijekavianlatin]=Palapelijeve slagalice
Name[sr@latin]=Palapelijeve slagalice
Name[sv]=Palapeli-pussel
Name[tr]=Palapeli bulmacaları
Name[uk]=Складанки Palapeli
Name[x-test]=xxPalapeli puzzlesxx
Name[zh_CN]=Palapeli 拼图
Name[zh_TW]=Palapeli 謎題
ServiceTypes=ThumbCreator
MimeType=application/x-palapeli-puzzle;
CacheThumbnail=true
X-KDE-Library=palathumbcreator
