[Desktop Entry]
Actions=PalapeliImport;
Type=Service
Icon=
Name=
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-palapeli-puzzle

[Desktop Action PalapeliImport]
Exec=palapeli --import %U
Icon=palapeli
Name=Import into your Palapeli puzzle collection
Name[ca]=Importació en la vostra col·lecció de trencaclosques del Palapeli
Name[en_GB]=Import into your Palapeli puzzle collection
Name[et]=Importimine Palapeli puslekogusse
Name[pt]=Importar para a sua colecção de 'puzzles' do Palapeli
Name[pt_BR]=Importar para sua coleção de quebra-cabeças do Palapeli
Name[sv]=Importera till Palapelis pusselsamling
Name[uk]=Імпортувати до вашої бібліотеки складанок Palapeli
Name[x-test]=xxImport into your Palapeli puzzle collectionxx
Name[zh_TW]=匯入您的 Palapeli 謎題收藏
