[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Palapeli puzzles
Name[bs]=Palapeli slagalice
Name[ca]=Trencaclosques Palapeli
Name[ca@valencia]=Trencaclosques Palapeli
Name[cs]=Palapeli puzzle
Name[da]=Palapeli-puslespil
Name[de]=Palapeli-Puzzle
Name[el]=Palapeli puzzles
Name[en_GB]=Palapeli puzzles
Name[es]=Rompecabezas de Palapeli
Name[et]=Palapeli pusled
Name[eu]=Palapeli buruhasukarriak
Name[fi]=Palapelit
Name[fr]=Puzzles Palapeli
Name[gl]=Quebracabezas de Palapeli
Name[hu]=Palapeli-feladványok
Name[is]=Palapeli púsl
Name[it]=Puzzle per Palapeli
Name[kk]=Palapeli басқатырғышы
Name[km]=ល្បែង​ផ្គុំ​រូប​ Palapeli 
Name[nb]=Palapeli-puslespill
Name[nds]=Palapeli-Pusselspelen
Name[nl]=Palapeli puzzels
Name[nn]=Palapeli-puslespel
Name[pl]=Puzzle Palapeli
Name[pt]='Puzzles' do Palapeli
Name[pt_BR]=Quebra-cabeças do Palapeli
Name[ru]=Головоломки Palapeli
Name[sk]=Palapeli puzzle
Name[sl]=Sestavljanke Palapeli
Name[sr]=Палапелијеве слагалице
Name[sr@ijekavian]=Палапелијеве слагалице
Name[sr@ijekavianlatin]=Palapelijeve slagalice
Name[sr@latin]=Palapelijeve slagalice
Name[sv]=Palapeli-pussel
Name[tr]=Palapeli bulmacaları
Name[uk]=Складанки Palapeli
Name[x-test]=xxPalapeli puzzlesxx
Name[zh_CN]=Palapeli 拼图
Name[zh_TW]=Palapeli 謎題
ServiceTypes=ThumbCreator
MimeType=application/x-palapeli-puzzle;
CacheThumbnail=true
X-KDE-Library=palathumbcreator
