[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Palapeli puzzles
Name[ca]=Trencaclosques Palapeli
Name[de]=Palapeli-Puzzle
Name[en_GB]=Palapeli puzzles
Name[et]=Palapeli pusled
Name[nn]=Palapeli-puslespel
Name[pt]='Puzzles' do Palapeli
Name[pt_BR]=Quebra-cabeças do Palapeli
Name[sv]=Palapeli-pussel
Name[uk]=Складанки Palapeli
Name[x-test]=xxPalapeli puzzlesxx
Name[zh_TW]=Palapeli 謎題
ServiceTypes=ThumbCreator
MimeType=application/x-palapeli-puzzle;
CacheThumbnail=true
X-KDE-Library=palathumbcreator
