[Desktop Entry]
Actions=PalapeliImport;
Type=Service
Icon=
Name=
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-palapeli-puzzle

[Desktop Action PalapeliImport]
Exec=palapeli --import %U
Icon=palapeli
Name=Import into your Palapeli puzzle collection
Name[bs]=Unesi u svoju Palapeli kolekciju slagalica
Name[ca]=Importació en la vostra col·lecció de trencaclosques del Palapeli
Name[ca@valencia]=Importació en la vostra col·lecció de trencaclosques del Palapeli
Name[da]=Importér til din samling af Palapeli-puslespil
Name[de]=In die Palapeli-Puzzle-Sammlung importieren.
Name[el]=Εισαγωγή στη συλλογή σας με τα Palapeli παζλ
Name[en_GB]=Import into your Palapeli puzzle collection
Name[es]=Importar a su colección de rompecabezas de Palapeli
Name[et]=Importimine Palapeli puslekogusse
Name[eu]=Inportatu zure Palepeli buruhasukarrien bilduman
Name[fi]=Tuo palapelikokoelmaasi
Name[fr]=Importer votre collection de puzzles Palapeli
Name[gl]=Importar na súa colección de crebacabezas de Palapeli
Name[hu]=Importálás a Palapeli kirakó gyűjteménybe
Name[is]=Flyttu inn í Papeli púsluspilasafnið þitt
Name[it]=Importa nella tua raccolta di puzzle per Palapeli
Name[kk]=Palapeli басқатырғыш жиынына импортау
Name[km]=នាំ​ចូល​ទៅ​ក្នុង​សម្រាំង​ល្បែង​ផ្គុំ​រូប​ Palapeli របស់​អ្នក
Name[nb]=Importer til Palapeli-puslespillsamlinga
Name[nds]=Na Palapeli-Radelsammeln importeren
Name[nl]=Naar uw Palapeli puzzelverzameling importeren
Name[nn]=Importer til Palapeli-puslespelsamlinga
Name[pl]=Importuj do Twojej kolekcji Palapeli
Name[pt]=Importar para a sua colecção de 'puzzles' do Palapeli
Name[pt_BR]=Importar para sua coleção de quebra-cabeças do Palapeli
Name[ru]=Импортировать в коллекцию мозаик Palapeli
Name[sk]=Importovať do vašej kolekcie puzzle Palapeli
Name[sr]=Увези у Палапелијеву збирку слагалица
Name[sr@ijekavian]=Увези у Палапелијеву збирку слагалица
Name[sr@ijekavianlatin]=Uvezi u Palapelijevu zbirku slagalica
Name[sr@latin]=Uvezi u Palapelijevu zbirku slagalica
Name[sv]=Importera till Palapelis pusselsamling
Name[tr]=Palapeli bulmaca koleksiyonunuza aktarın
Name[uk]=Імпортувати до вашої бібліотеки складанок Palapeli
Name[x-test]=xxImport into your Palapeli puzzle collectionxx
Name[zh_CN]=导入您的 Palapeli 拼图收藏
Name[zh_TW]=匯入您的 Palapeli 謎題收藏
