<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="palapeli" version="1">
	<MenuBar>
		<Menu name="game">
			<Action name="game_new"/>
			<Action name="palapeli_load"/>
			<Action name="palapeli_reset"/>
			<Separator/>
			<Action name="palapeli_import"/>
			<Action name="palapeli_export"/>
			<Action name="palapeli_delete"/>
			<Separator/>
			<Action name="palapeli_knsdownload"/>
			<Action name="palapeli_knsupload"/>
			<Separator/>
			<Action name="game_quit"/>
		</Menu>
		<Menu name="view">
			<Text>View</Text>
			<Action name="view_zoom_in"/>
			<Action name="view_zoom_out"/>
			<Separator/>
			<Action name="fullscreen"/>
			<Separator/>
			<Action name="view_toggle_minimap"/>
			<Action name="view_toggle_preview"/>
		</Menu>
		<Menu name="settings">
			<Action name="settings_configure"/>
			<Action name="palapeli_texture"/>
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
		<text>Main toolbar</text>
		<Action name="game_new"/>
		<Action name="palapeli_load"/>
		<Action name="palapeli_reset"/>
		<Separator/>
		<Action name="palapeli_import"/>
		<Action name="palapeli_export"/>
		<Action name="palapeli_delete"/>
		<Separator/><!-- TODO: split the following actions off into a view toolbar once this KXMLGUI bug is fixed which hides the main toolbar when I do this -->
		<Action name="view_zoom_in"/>
		<Action name="view_zoom_out"/>
		<Separator/><!-- TODO: the following action should also go into a separate toolbar when more actions follow -->
		<Action name="palapeli_action_cleararea"/>
		<Action name="palapeli_action_arrangepieces"/>
	</ToolBar>
</gui>

