[Desktop Entry]
Actions=PalapeliImport;
Type=Service
Icon=
Name=
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-palapeli-puzzle

[Desktop Action PalapeliImport]
Exec=palapeli --nogui --import %U
Icon=preferences-plugin
Name=Import into Palapeli puzzle library
Name[el]=Εισαγωγή στη βιβλιοθήκη παζλ Palapeli
Name[es]=Importar en la biblioteca de rompecabezas de Palapeli
Name[gl]=Importar na biblioteca de quebracabezas de Palapeli
Name[km]=នាំចូល​ទៅ​ក្នុង​បណ្ណាល័យ​ផ្គុំរូប​របស់ Palapeli
Name[nds]=Na Palapeli-Radelbibliotheek importeren
Name[pt]=Importar para a biblioteca de 'puzzles' do Palapeli
Name[pt_BR]=Importar para a biblioteca de 'puzzles' do Palapeli
Name[sv]=Importera till Palapelis pusselbibliotek
Name[uk]=Імпортувати до бібліотеки складанок Palapeli
Name[x-test]=xxImport into Palapeli puzzle libraryxx
