[Desktop Entry]
X-KDE-Library=palapeli_jigsawpattern
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-Name=palapeli_jigsawpattern
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://games.kde.org/palapeli
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=libpalapelipattern
X-KDE-ServiceTypes=Palapeli/PatternPlugin
Type=Service
Icon=palapeli-pattern-jigsaw
X-PluginIdentifier=jigsaw-%1
Name=Jigsaw pieces - %1 theme
Name[el]=Κομμάτια παζλ - θέμα %1
Name[et]=Pusletükid - %1 teema
Name[gl]=Pezas do quebracabezas, tema %1
Name[km]=ផ្នែក​របស់ Jigsaw - ស្បែក %1
Name[pt]=Peças do puzzle - tema %1
Name[sv]=Pusselbitar - %1 tema
Name[uk]=Шматочки складанки — тема %1
Name[x-test]=xxJigsaw pieces - %1 themexx
Comment=
