[Desktop Entry]
X-KDE-Library=palapeli_rectangularpattern
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-Name=palapeli_rectangularpattern
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://games.kde.org/palapeli
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=libpalapelipattern
X-KDE-ServiceTypes=Palapeli/PatternPlugin
Type=Service
Icon=palapeli-pattern-rectangular
X-PluginIdentifier=rectangular
Name=Rectangular pieces
Name[el]=Ορθογώνια κομμάτια
Name[et]=Ristkülikukujulised klotsid
Name[gl]=Pezas rectangulares
Name[km]=ផ្នែក​រាង​ចតុកោណកែង
Name[pt]=Peças rectangulares
Name[sv]=Rektangulära bitar
Name[uk]=Прямокутні шматочки
Comment=
