[Desktop Entry]
X-KDE-Library=palapeli_hexagonpattern
X-KDE-PluginInfo-Author=Stefan Majewsky
X-KDE-PluginInfo-Email=majewsky@gmx.net
X-KDE-PluginInfo-Name=palapeli_hexagonpattern
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://games.kde.org/palapeli
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=libpalapelipattern
X-KDE-ServiceTypes=Palapeli/PatternPlugin
Type=Service
Icon=palapeli-pattern-hexagon
X-PluginIdentifier=hexagon
Name=Hexagonal pieces
Name[el]=Εξάγωνα κομμάτια
Name[en_GB]=Hexagonal pieces
Name[es]=Piezas hexagonales
Name[et]=Kuusnurksed klotsid
Name[fr]=Pièces hexagonal
Name[gl]=Pezas hexagonais
Name[it]=Pezzi esagonali
Name[km]=ផ្នែក​រាងឆកោណ
Name[nds]=Sösshörnen-Stücken
Name[pt]=Peças hexagonais
Name[pt_BR]=Peças hexagonais
Name[sv]=Sexkantiga bitar
Name[tr]=Altıgen parçalar
Name[uk]=Шестикутні шматочки
Name[x-test]=xxHexagonal piecesxx
Comment=
