[Desktop Entry]
Type=Application
Exec=paladesign -caption "%c"
Name=Paladesign
Name[et]=Palapeli disain
Name[x-test]=xxPaladesignxx
GenericName=Editor for Palapeli jigsaw puzzle patterns
GenericName[el]=Επεξεργαστής για μοτίβα παζλ του Palapeli
GenericName[es]=Editor de patrones de rompecabezas de jigsaw de Palapeli
GenericName[et]=Palapeli puslemustrite redaktor
GenericName[fr]=Éditeur de modèles pour les puzzles Palapeli
GenericName[gl]=Editor dos padróns do quebracabezas Palapeli
GenericName[ja]=Palapeli ジグソーパズルのパターンエディタ
GenericName[km]=កម្មវិធី​កែសម្រួល​សម្រាប់​លំនាំល្បែង​ផ្គុំរូប Palapeli jigsaw
GenericName[nds]=Editor för Palapeli-Loofsaagradels
GenericName[pt]=Editor dos padrões de puzzle do Palapeli
GenericName[pt_BR]=Editor dos padrões de puzzle do Palapeli
GenericName[sv]=Editor för pusselmönster till Palapeli
GenericName[tr]=Palapeli jigsaw modelleri için düzenleyici
GenericName[uk]=Редактор для шаблонів гри у складання зображень Palapeli
GenericName[x-test]=xxEditor for Palapeli jigsaw puzzle patternsxx
Terminal=false
Icon=preferences-plugin
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;PuzzleGame;
