[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Palapeli/PatternPlugin
X-KDE-Derived=
Comment=Palapeli pattern
Comment[el]=Μοτίβο Palapeli
Comment[es]=Patrón de Palapeli
Comment[et]=Palapeli muster
Comment[ga]=Patrún Palapeli
Comment[gl]=Padrón de Palapeli
Comment[km]=លំនាំ Palapeli
Comment[pt]=Padrão do Palapeli
Comment[pt_BR]=Padrão do Palapeli
Comment[sv]=Palapeli-mönster
Comment[uk]=Шаблон Palapeli
Comment[x-test]=xxPalapeli patternxx

[PropertyDef::X-PluginIdentifier]
Type=string
