[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Palapeli/PatternPlugin
X-KDE-Derived=
Comment=Palapeli pattern
Comment[de]=Palapeli-Muster
Comment[el]=Μοτίβο Palapeli
Comment[es]=Patrón de Palapeli
Comment[et]=Palapeli muster
Comment[fr]=Modèles Palapeli
Comment[ga]=Patrún Palapeli
Comment[gl]=Padrón de Palapeli
Comment[it]=Modello Palapeli
Comment[ja]=Palapeli のパターン
Comment[km]=លំនាំ Palapeli
Comment[nds]=Palapeli-Muster
Comment[pt]=Padrão do Palapeli
Comment[pt_BR]=Padrão Palapeli
Comment[sv]=Palapeli-mönster
Comment[tr]=Palapeli modeli
Comment[uk]=Шаблон Palapeli
Comment[x-test]=xxPalapeli patternxx

[PropertyDef::X-PluginIdentifier]
Type=string
