[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Libpala/SlicerPlugin
X-KDE-Derived=
Comment=Slicer plugin for libpala, the base library of Palapeli
Comment[bs]=Dodatak pločica za libpala, baza biblioteke Palapeli
Comment[ca]=Connector tallador per libpala, la biblioteca base del Palapeli
Comment[ca@valencia]=Connector tallador per libpala, la biblioteca base del Palapeli
Comment[da]=Slicer-plugin til libpala, Palapelis basisbibliotek
Comment[de]=Das Schneidemodul von „libpala“ (Basisbibliothek von Palapeli).
Comment[el]=Πρόσθετο slicer για τη libpala, τη βασική βιβλιοθήκη του Palapeli
Comment[en_GB]=Slicer plugin for libpala, the base library of Palapeli
Comment[es]=Herramienta de corte para libpala, la libería base de Palapeli
Comment[et]=Tükeldamisplugin Palapeli baasteegile libpala
Comment[fi]=Paloitteluliitännäinen libpalalle, Palapelin peruskirjastolle
Comment[fr]=Module Slicer pour « libpala », la bibliothèque de base de Palapeli
Comment[gl]=Complemento de filtrado para libpala, a biblioteca base de Palapeli
Comment[hu]=Csúszka plugin a libpala-hoz, a Palapeli alap könyvtárához
Comment[it]=Estensione "ritaglio" per libpala, la libreria di base di Palapeli
Comment[kk]=Palapeli-дің негізгі жиын файлына арналған libpala тілім плагині 
Comment[km]=កម្មវិធី​ជំនួយ​ឧបករណ៍​ចិត​សម្រាប់ libpala  និង បណ្ណាល័យ​​មូលដ្ឋាន​​របស់​ Palapeli
Comment[nb]=Puslespillskjæringstillegg for libpala – grunnbiblioteket i Palapeli
Comment[nds]=Sneedmoduul för "libpala", wat de Palapeli-Hööftbibliotheek is
Comment[nl]=Snij-plugin voor libpala, de basisbibliotheek van Palapeli
Comment[nn]=Puslespelskjeringstillegg for libpala – grunnbiblioteket i Palapeli
Comment[pl]=Plugin kawałkujący dla libpala, podstawowej biblioteki Palapeli
Comment[pt]=Um 'plugin' de divisão para a 'libpala', a biblioteca de base do Palapeli
Comment[pt_BR]=Plug-in divisor de peças para a libpala, a biblioteca base do Palapeli
Comment[ru]=Модуль разрезки libpala, основной библиотеки Palapeli
Comment[sk]=deliaci modul pre libpala, základná knižnica Palapeli
Comment[sl]=Rezalni vstavek za libpala, osnovno knjižnico za Palapeli
Comment[sr]=Прикључак секача за libpala, основну библиотеку Палапелија
Comment[sr@ijekavian]=Прикључак сјекача за libpala, основну библиотеку Палапелија
Comment[sr@ijekavianlatin]=Priključak sjekača za libpala, osnovnu biblioteku Palapelija
Comment[sr@latin]=Priključak sekača za libpala, osnovnu biblioteku Palapelija
Comment[sv]=Delningsinsticksprogram för libpala, basbiblioteket i Palapeli
Comment[tr]=Palapeli'nin temel kitaplığı libpala için dilimleme eklentisi
Comment[uk]=Додаток розрізування для libpala, базової бібліотеки Palapeli
Comment[x-test]=xxSlicer plugin for libpala, the base library of Palapelixx
Comment[zh_CN]=libpala 的切分器插件，Palapeli 的基础类库
Comment[zh_TW]=libpala 的切割器外掛程式，Palapeli 的基礎函式庫
