[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Libpala/SlicerPlugin
X-KDE-Derived=
Comment=Slicer plugin for libpala, the base library of Palapeli
Comment[ca]=Connector tallador per libpala, la biblioteca base del Palapeli
Comment[de]=Das Schneidemodul von „libpala“ (Basisbibliothek von Palapeli).
Comment[en_GB]=Slicer plugin for libpala, the base library of Palapeli
Comment[et]=Tükeldamisplugin Palapeli baasteegile libpala
Comment[nn]=Puslespelskjeringstillegg for libpala – grunnbiblioteket i Palapeli
Comment[pt]=Um 'plugin' de divisão para a 'libpala', a biblioteca de base do Palapeli
Comment[pt_BR]=Plug-in fatiador para libpala, a biblioteca base do Palapeli
Comment[sr]=Прикључак секача за libpala, основну библиотеку Палапелија
Comment[sr@ijekavian]=Прикључак сјекача за libpala, основну библиотеку Палапелија
Comment[sr@ijekavianlatin]=Priključak sjekača za libpala, osnovnu biblioteku Palapelija
Comment[sr@latin]=Priključak sekača za libpala, osnovnu biblioteku Palapelija
Comment[sv]=Delningsinsticksprogram för libpala, basbiblioteket i Palapeli
Comment[uk]=Додаток розрізування для libpala, базової бібліотеки Palapeli
Comment[x-test]=xxSlicer plugin for libpala, the base library of Palapelixx
Comment[zh_TW]=libpala 的切割器外掛程式，Palapeli 的基礎函式庫
