[Desktop Entry]
Name=My very first slicer
Name[en_GB]=My very first slicer
Name[es]=Mi primer herramienta de corte
Name[et]=Minu esimene tükeldaja
Name[pt]=O meu primeiro divisor
Name[sv]=Min allra första skivningsmaskin
Name[uk]=Мій найперший інструмент розрізання
Name[x-test]=xxMy very first slicerxx
Comment=It is quite simple, actually.
Comment[en_GB]=It's quite simple, actually.
Comment[es]=Realmente es muy simple.
Comment[et]=See on tegelikult päris lihtne.
Comment[pt]=É muito simples, de facto.
Comment[sv]=Den är faktiskt ganska enkel
Comment[tr]=Çok basit, gerçekten.
Comment[uk]=Насправді, дуже простий.
Comment[x-test]=xxIt's quite simple, actually.xx
Type=Service
Icon=myslicer
X-KDE-Library=myslicer
X-KDE-ServiceTypes=Libpala/SlicerPlugin
X-KDE-PluginInfo-Author=Kandalf
X-KDE-PluginInfo-Email=kandalf@kde-hackers.example.org
X-KDE-PluginInfo-Name=myslicer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde-hackers.example.org/myslicer
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
