[Desktop Entry]
Type=Application
Exec=palapeli
Name=Palapeli
GenericName=Jigsaw puzzle game
Terminal=false
Icon=palapeli
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
MimeType=application/x-palapeli-puzzle;
X-DocPath=palapeli/index.html
X-DBUS-ServiceName=org.kde.palapeli
