[Desktop Entry]
Type=Application
Exec=palapeli %u
Name=Palapeli
Name[bs]=Palapeli
Name[ca]=Palapeli
Name[ca@valencia]=Palapeli
Name[cs]=Palapeli
Name[da]=Palapeli
Name[de]=Palapeli
Name[el]=Palapeli
Name[en_GB]=Palapeli
Name[es]=Palapeli
Name[et]=Palapeli
Name[eu]=Palapeli
Name[fi]=Palapeli
Name[fr]=Palapeli
Name[ga]=Palapeli
Name[gl]=Palapeli
Name[hr]=Palapeli
Name[hu]=Palapeli
Name[it]=Palapeli
Name[kk]=Palapeli
Name[km]=Palapeli
Name[ko]=Palapeli
Name[lt]=Palapeli
Name[lv]=Palapeli
Name[mr]=पालापेली
Name[nb]=Palapeli
Name[nds]=Palapeli
Name[nl]=Palapeli
Name[nn]=Palapeli
Name[pl]=Palapeli
Name[pt]=Palapeli
Name[pt_BR]=Palapeli
Name[ro]=Palapeli
Name[ru]=Palapeli
Name[sk]=Palapeli
Name[sl]=Palapeli
Name[sr]=Палапели
Name[sr@ijekavian]=Палапели
Name[sr@ijekavianlatin]=Palapeli
Name[sr@latin]=Palapeli
Name[sv]=Palapeli
Name[tr]=Palapeli
Name[ug]=Palapeli
Name[uk]=Palapeli
Name[x-test]=xxPalapelixx
Name[zh_CN]=Palapeli
Name[zh_TW]=Palapeli
GenericName=Jigsaw puzzle game
GenericName[bs]=Igra slagalica
GenericName[ca]=Joc de trencaclosques
GenericName[ca@valencia]=Joc de trencaclosques
GenericName[cs]=Hra se skládáním puzzle
GenericName[da]=Puslespil
GenericName[de]=Bilderpuzzle
GenericName[el]=Παιχνίδι jigsaw παζλ
GenericName[en_GB]=Jigsaw puzzle game
GenericName[es]=Juego de rompecabezas
GenericName[et]=Pusle
GenericName[eu]=Koskadun buru-hausgarri jokoa
GenericName[fi]=Palapeli
GenericName[fr]=Jeu de puzzle
GenericName[ga]=Cluiche míreanna mearaí
GenericName[gl]=Xogo de quebracabezas jigsaw
GenericName[hu]=Képkirakó játék
GenericName[it]=Gioco di puzzle
GenericName[kk]=Қиыстырма басқатырғыш ойыны
GenericName[km]=ល្បែង​ផ្គុំ​រូប
GenericName[ko]=조각 퍼즐 게임
GenericName[lv]=Gabaliņu mīklas spēle
GenericName[mr]=जिगसो कोडे खेळ
GenericName[nb]=Puslespill
GenericName[nds]=Pusselspeel
GenericName[nl]=Legpuzzelspel
GenericName[nn]=Puslespelspel
GenericName[pl]=Układanie puzzli
GenericName[pt]=Um jogo de 'puzzle'
GenericName[pt_BR]=Jogo de quebra-cabeça
GenericName[ru]=Игра-мозаика
GenericName[sk]=Puzzle hra
GenericName[sl]=Igra sestavljank
GenericName[sr]=Игра слагања делова
GenericName[sr@ijekavian]=Игра слагања дијелова
GenericName[sr@ijekavianlatin]=Igra slaganja dijelova
GenericName[sr@latin]=Igra slaganja delova
GenericName[sv]=Pusselspel
GenericName[tr]=Yapboz bulmaca oyunu
GenericName[ug]=Jigsaw تېپىشماق ئويۇنى
GenericName[uk]=Гра у складанку
GenericName[x-test]=xxJigsaw puzzle gamexx
GenericName[zh_CN]=拼图游戏
GenericName[zh_TW]=拼圖式遊戲
Terminal=false
Icon=palapeli
StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
MimeType=application/x-palapeli-puzzle;
X-DocPath=palapeli/index.html
X-DBUS-ServiceName=org.kde.palapeli
