[Desktop Entry]
Type=Application
Exec=palapeli
Name=Palapeli
Name[cs]=Palapeli
Name[de]=Palapeli
Name[el]=Palapeli
Name[en_GB]=Palapeli
Name[es]=Palapeli
Name[et]=Palapeli
Name[fr]=Palapeli
Name[ga]=Palapeli
Name[gl]=Palapeli
Name[hne]=पालापेली
Name[it]=Palapeli
Name[ja]=Palapeli
Name[km]=Palapeli
Name[nds]=Palapeli
Name[pt]=Palapeli
Name[pt_BR]=Palapeli
Name[ro]=Palapeli
Name[sv]=Palapeli
Name[tr]=Palapeli
Name[uk]=Palapeli
Name[x-test]=xxPalapelixx
GenericName=Jigsaw puzzle game
GenericName[de]=Puzzle
GenericName[el]=Παιχνίδι εικόνων παζλ
GenericName[en_GB]=Jigsaw puzzle game
GenericName[es]=Juego de rompecabezas de Jigsaw
GenericName[et]=Pusle
GenericName[fr]=Puzzle
GenericName[ga]=Cluiche míreanna mearaí
GenericName[gl]=Xogo de quebracabezas
GenericName[hne]=जिगसा पहेली खेल
GenericName[it]=Gioco rompicapo a incastri
GenericName[ja]=ジグソーパズル
GenericName[km]=ល្បែង​ផ្គុំ​រូប Jigsaw 
GenericName[nds]=Pusselspeel
GenericName[pt]=Um jogo de 'puzzle'
GenericName[pt_BR]=Jogo de quebra-cabeça
GenericName[sv]=Pusselspel
GenericName[tr]=Jigsaw bulmaca oyunu
GenericName[uk]=Гра у складанку
GenericName[x-test]=xxJigsaw puzzle gamexx
Terminal=false
Icon=palapeli
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
MimeType=application/x-palapeli-puzzle;
X-DocPath=palapeli/index.html
