<?xml version="1.0" encoding="UTF-8"?>
<gui name="palapeli-library" version="1"
	xmlns="http://www.kde.org/standards/kxmlgui/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0 http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
	<MenuBar/>
	<ToolBar name="libraryToolbar">
		<text>Library toolbar</text>
		<Action name="file_import"/>
		<Action name="file_export"/>
		<Separator/>
		<Action name="file_delete"/>
	</ToolBar>
</gui>
