<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="palapeli" version="1">
	<MenuBar>
		<Menu name="game">
			<Action name="game_new"/>
			<Action name="game_load"/>
			<Separator/>
			<Action name="game_save"/>
			<Action name="palapeli_manage_savegames"/>
			<Separator/>
			<Action name="game_quit"/>
		</Menu>
		<Menu name="views">
			<Text>Views</Text>
			<Action name="view_toggle_minimap"/>
			<Action name="view_toggle_preview"/>
		</Menu>
		<Menu name="settings">
			<Action name="settings_configure"/>
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
		<text>Main Toolbar</text>
		<Action name="game_new"/>
		<Action name="game_load"/>
		<Action name="game_save"/>
	</ToolBar>
</gui>

