<?xml version="1.0" encoding="UTF-8"?>
<gui name="palapeli-puzzletable" version="1"
	xmlns="http://www.kde.org/standards/kxmlgui/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0 http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
	<ToolBar name="puzzleTableToolbar">
		<text>Puzzle table toolbar</text>
		<Action name="game_restart"/>
		<Separator/>
		<Action name="view_zoom_in"/>
		<Action name="view_zoom_out"/>
	</ToolBar>
</gui>
